$description-font-size: 13px;
$description-line-height: 14px;
$description-padding: 1px;
$description-text-lines: 2;
$description-height: calc(#{$description-line-height} * #{$description-text-lines} + 2 *#{$description-padding});

$title-font-size: 13px;
$title-line-height: 14px;
$title-padding: 1px;
$title-text-lines: 2;
$title-height: calc(#{$title-line-height} * #{$title-text-lines} + 2 *#{$title-padding});

$origin-font-size: 10px;
$origin-line-height: 11px;
$origin-padding: 1px;
$origin-height: calc(#{$origin-line-height} + 2 *#{$origin-padding});

$text-height: calc(#{$description-height} + #{$title-height} + #{$origin-height});

$recommend-height: 300px;
$recommend-padding: 10px;

$thumbnail-image-height: calc(#{$recommend-height} - #{$text-height} - 2 *#{$recommend-padding});
.taboola-recommend {
    width: 100%;
    height: $recommend-height;
    padding: $recommend-padding;
    overflow: hidden;
    > a {
        height: 100%;
        width: 100%;
        display: inline-block;

        .taboola-thumbnail-image {
            width: 100%;
            display: block;
            height: $thumbnail-image-height;
        }
        .taboola-description {
            font-size: $description-font-size;
            line-height: $description-line-height;
            padding: $description-padding;
            display: -webkit-box;
            -webkit-line-clamp: $description-text-lines;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .taboola-title {
            font-size: $title-font-size;
            line-height: $title-line-height;
            padding: $title-padding;
            display: -webkit-box;
            -webkit-line-clamp: $title-text-lines;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .taboola-recommend-origin {
            font-size: $origin-font-size;
            line-height: $origin-line-height;
            padding: $origin-padding;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
