$widget-max-width: 1400px;
//large devices
$min-grid-width: 250px;
$max-grid-width: 320px;
$grid-gap: 5px;
$break-point-width: 650px;

.taboola-widget-wrapper {
    height: 100%;
    width: 100%;

    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .taboola-recommendation-widget {
        max-width: $widget-max-width;
        margin: auto;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($min-grid-width, $max-grid-width));
        justify-content: center;
        grid-gap: $grid-gap;
        @media only screen and (max-width: $break-point-width) {
            grid-template-columns: repeat(1, auto);
        }
    }
}
