body {
    background-color: aliceblue;
    margin: 0;
}
.button-container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
}
#start {
    margin: 30vh auto auto;
    height: 50px;
    border-radius: 5px;
}
#taboola-recommendation-widget-container {
    height: 100vh;
}
